%clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

%position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%position-full {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
