@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;0,900;0,1000;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik Bubbles';
    font-weight: 400;
    src: url(../src/assets/fonts/RubikBubbles-Regular.woff) format("woff");
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    src: url(../src/assets/fonts/SourceSansPro-SemiBold.woff) format("woff");
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    src: url(../src/assets/fonts/SourceSansPro-Black.woff) format("woff");
  }

  html,
  body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
  }
}

@layer components {}

@layer utilities {
  .container {
    --container: 1180px;
    --pd-container: 10px;
    max-width: var(--container);
    padding-left: var(--pd-container);
    padding-right: var(--pd-container);
  }
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
