@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik';
    src: url(../src/assets/fonts/RubikBubbles-Regular.woff) format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url(../src/assets/fonts/Quicksand-Regular.woff) format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Quicksand';
    src: url(../src/assets/fonts/Quicksand-Bold.woff) format("woff");
    font-weight: 700;
  }

  @font-face {
    font-family: 'SVNEvitrian';
    src: url(../src/assets/fonts/SVN-Evitrian-Regular.woff) format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: 'Playball';
    src: url(../src/assets/fonts/Playball-Regular.woff) format("woff");
    font-weight: 400;
  }

  html,
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    color: #fff;
    scroll-behavior: smooth;
  }
}

@layer components {
  .before-style{
    @apply before:absolute before:top-0 before:left-0 before:border-t-[100px] before:border-r-[100vw] before:border-b-0 before:border-l-0 before:border-before2 md:before:border-t-[50px]
  }
  .after-style{
    @apply after:absolute after:bottom-0 after:left-0 after:border-t-0 after:border-r-0 after:border-b-[100px] after:border-l-[100vw] after:border-after2
  }
  .after2-style{
    @apply after:absolute after:bottom-0 after:left-0 after:border-t-[100px] after:border-r-0 after:border-b-0 after:border-l-[100vw] after:border-after3 md:after:border-t-[50px]
  }
  .after-before-style {
    @apply before:absolute before:top-0 before:left-0 before:border-t-[100px] before:border-r-[0] before:border-b-0 before:border-l-[100vw] before:border-before2 after:absolute after:bottom-0 after:left-0 after:border-t-[100px] after:border-b-0 after:border-r-[100vw] after:border-after2;
  }
  .input-style {
    @apply h-[45px] p-3 text-colorPink outline-0
  }
}

@layer utilities {
  .container {
    --container: 1180px;
    --pd-container: 10px;
    max-width: var(--container);
    padding-left: var(--pd-container);
    padding-right: var(--pd-container);
  }
  .text-shadow-default{
    --color-shadow: rgb(245 158 11);
    text-shadow: -2px 3px var(--color-shadow);
  }
  .text-stroke-default{
    --color-stroke: #ff4061;
    -webkit-text-stroke: 0.5px var(--color-stroke);
  }
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
